@import 'colors';

.carousel-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.w-35 {
  width: 35% !important;
  margin: 0 auto;
}

.w-15 {
  width: 100% !important;
  margin: 0 auto;
  overflow: visible !important;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: calc(100% / 5); /* Делим на 5, чтобы вместить 5 картинок */
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.thumbnail.active {
  border-color: $color-gray; /* Цвет рамки для активного изображения */
  opacity: 0.7;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.7;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-lightgray;
  }
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.product-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
  width: 100%;

  &:hover {
    //transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  &:hover .learn-more {
    opacity: 1;
    transform: translateY(0);  /* Возвращаем кнопку на место при наведении */
  }
}

.img-centered {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.product-name-container {
  padding-top: 10px;
}

.border-radius-0 {
  border-radius: 0 !important;
}

//.type-item {
//  cursor: pointer;
//  border: 1px solid $color-lightgray;
//  color: $color-black;
//  background-color: $color-white;
//
//  &.active-item {
//    background-color: $color-lightgray;
//    border-color: $color-lightgray;
//    color: $color-black;
//  }
//}

.learn-more {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-50%) translateY(20px);  /* Скрыта ниже карточки */
  opacity: 0;
  background-color: $color-lightgray;
  color: white;
  //transition: opacity 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken($color-lightgray, 10%);
  }
}

.sticky-card {
  position: -webkit-sticky; /* Для поддержки Safari */
  position: sticky;
  top: 20px; /* Отступ сверху */
}