@import 'colors';

.w-35 {
  width: 35% !important;
  margin: 0 auto;
}

.w-15 {
  width: 100% !important;
  margin: 0 auto;
  overflow: visible !important;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}


.product-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
  width: 100%;
  &:hover {
    //transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  &:hover .learn-more {
    opacity: 1;
    transform: translateY(0);  /* Возвращаем кнопку на место при наведении */
  }
}

.img-centered {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.product-name-container {
  padding-top: 10px;
}


.learn-more {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-50%) translateY(20px);  /* Скрыта ниже карточки */
  opacity: 0;
  background-color: $focus_input_color;
  color: white;
  //transition: opacity 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken($focus_input_color, 10%);
  }
}

.sticky-card {
  position: -webkit-sticky; /* Для поддержки Safari */
  position: sticky;
  top: 20px; /* Отступ сверху */
}