@import 'colors';

.hover-item {
  transition: background-color 0.2s ease-out;

  &--white {
    &:hover {
      background-color: $color-white !important;
      color: $color-gray !important;
      cursor: pointer;
    }
  }

  &--black {
    &:hover {
      background-color: $color-black !important;
      color: $color-white !important;
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &--gray {
    &:hover {
      background-color: $color-gray !important;
      color: $color-white !important;
      cursor: pointer;
      opacity: 0.8;
      transition: 0.4s;
    }
  }

  &--lightgray {
    &:hover {
      background-color: $color-lightgray !important;
      cursor: pointer;
    }
  }
}