@import 'colors';

/* Стили для скролл бара */
body::-webkit-scrollbar {
  width: 0.9375rem; /* 15px в rem */
}

body::-webkit-scrollbar-track {
  background: $color_white;
}

body::-webkit-scrollbar-thumb {
  background-color: $main_color;
  border: 0.1875rem solid $main_color; /* 3px в rem */
}

.hover-item {
  transition: background-color 0.2s ease-out;

  &--main_color {
    &:hover {
      background-color: $main_color !important;
      color: $color_white !important;
      transition: background-color 0.3s ease-out;
      cursor: pointer;
    }
  }

  &--main_color_hover {
    &:hover {
      background-color: $main_color_hover !important;
      color: $color_white !important;
      transition: background-color 0.3s ease-out;
      cursor: pointer;
    }
  }

  &--main_color_active {
    &:hover {
      background-color: $main_color_active !important;
      color: $color_white !important;
      transition: background-color 0.3s ease-out;
      cursor: pointer;
    }
  }
}

.border-radius-0 {
  border-radius: 0 !important;
}

