@import 'colors';

.hover-item {
  transition: background-color 0.2s ease-out;

  &--main_color {
    &:hover {
      background-color: $main_color !important;
      color: $color_white !important;
      transition: background-color 0.3s ease-out;
      cursor: pointer;
    }
  }

  &--main_color_hover {
    &:hover {
      background-color: $main_color_hover !important;
      color: $color_white !important;
      transition: background-color 0.3s ease-out;
      cursor: pointer;
    }
  }

  &--main_color_active {
    &:hover {
      background-color: $main_color_active !important;
      color: $color_white !important;
      transition: background-color 0.3s ease-out;
      cursor: pointer;
    }
  }
}