@import '../../../app/styles/colors.scss';

.basket-item {
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-color: #eaeaea;
  
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

.basket-item-image {
  max-width: 100%;
  height: auto;
  max-height: 80px;
  object-fit: contain;
}

.cursor-pointer {
  cursor: pointer;
}

.quantity-control {
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 2px 5px;
}

.quantity-btn {
  width: 26px;
  height: 26px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:focus, &:active {
    box-shadow: none !important;
  }
}

.quantity-value {
  min-width: 25px;
  text-align: center;
}

.text-right {
  text-align: right;
} 