@import '../../../app/styles/colors.scss';

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    &__pages {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    &__button {
        padding: 8px 16px;
        background-color: $color_white;
        border: 1px solid $main_color;
        color: $main_color;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 14px;
        
        &:hover:not(:disabled) {
            background-color: $main_color;
            color: $color_white;
        }
        
        &:disabled {
            border-color: $focus_input_color;
            color: $focus_input_color;
            cursor: not-allowed;
        }
    }
    
    &__page {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color_white;
        border: 1px solid $main_color;
        color: $main_color;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 14px;
        
        &:hover:not(&--active) {
            background-color: $main_color_hover;
            color: $color_white;
        }
        
        &--active {
            background-color: $main_color;
            color: $color_white;
            cursor: default;
        }
    }
    
    &__dots {
        color: $main_color;
        font-size: 14px;
        padding: 0 4px;
    }
} 