@import '../../app/styles/colors';

.tab-list-nav {
  display: flex;
  width: 100%; /* Чтобы Nav занимал всю ширину */
}

.tab-list-nav .nav-item {
  flex: 1; /* Равномерное распределение ширины для всех Nav.Item */
}

.tab-link {
  width: 100%; /* Чтобы каждая ссылка занимала всю ширину родителя */
  text-align: center; /* Центровка текста */
  color: $color-gray;

  &:hover {
    color: $color-gray;
  }
}

.tab-list-nav {
  .nav-item {
    .tab-link {
      &.active {
        background-color: $color-gray; /* Применяет цвет заднего фона */
        color: $color-white; /* Задает белый цвет текста */
        border-radius: 0; /* Убирает скругление */
      }
    }
  }
}

.characteristic-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-bottom: 1px dotted $color-gray;
  color: $color-gray; /* или любой другой цвет */
}