@import '../../app/styles/colors';

.tab-list-nav {
  display: flex;
  width: 100%; /* Чтобы Nav занимал всю ширину */
  border-radius: 0;
}

.tab-list-nav .nav-item {
  flex: 1; /* Равномерное распределение ширины для всех Nav.Item */
  border-radius: 0;
}

.tab-link {
  width: 100%; /* Чтобы каждая ссылка занимала всю ширину родителя */
  text-align: center; /* Центровка текста */
  border-radius: 0;
}

.tab-list-nav {
  .nav-item {
    .tab-link {
      &.active {
        background-color: $color-gray; /* Применяет цвет заднего фона */
        color: $color-white; /* Задает белый цвет текста */
        border-radius: 0; /* Убирает скругление */
      }
    }
  }
}