@import '../../../app/styles/colors.scss';

.footer {
  a {
    color: $color_white;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    
    &:hover, &:focus {
      color: $add_color !important;
      text-decoration: none;
    }
    
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $add_color;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }
    
    &:hover::after, &:focus::after {
      width: 70%;
    }
  }
  
  .social-icons {
    a {
      margin-right: 1rem;
      font-size: 1.5rem;
      
      &:last-child {
        margin-right: 0;
      }
      
      /* Для иконок соцсетей не показываем подчеркивание */
      &::after {
        display: none;
      }
    }
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
}