@import '../../../app/styles/colors.scss';

.footer {
  a {
    color: $color_white;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    
    &:hover, &:focus {
      color: $add_color !important;
      text-decoration: none;
    }
    
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $add_color;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }
    
    &:hover::after, &:focus::after {
      width: 70%;
    }
  }
  
  .social-icons {
    a {
      margin-right: 1rem;
      font-size: 1.5rem;
      
      &:last-child {
        margin-right: 0;
      }
      
      /* Для иконок соцсетей не показываем подчеркивание */
      &::after {
        display: none;
      }
    }
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
  }

  .logo-text-first {
    font-size: 1.3rem;
    font-weight: 700;
    color: $add_color;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
  }

  .logo-text-second {
    font-size: 1.1rem;
    font-weight: 500;
    color: $color_white;
  }

  .disclaimer-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba($color_white, 0.1) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;

    p {
      font-size: 0.8rem;
      opacity: 0.7;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}