@import '../../../app/styles/colors.scss';

.carousel-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;

  .carousel-images {
    width: 100%; /* Миниатюра занимает всю ширину ячейки */
    height: 100%; /* Миниатюра занимает всю высоту ячейки */
    object-fit: cover; /* Сохраняем пропорции */
    transition: transform 0.5s ease-in-out;
  }

  .arrow-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
    width: 50px;
    border-radius: 50%;
    padding: 16px;

    &:hover {
      background-color: $focus_input_color;
    }

    &.left-arrow {
      left: 10px;
    }

    &.right-arrow {
      right: 10px;
    }
  }

  .position-relative {
    &:hover .magnifier-icon {
      opacity: 1;
    }
  }

  .magnifier-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: $main_color;
    transition: all 0.3s ease;
    opacity: 0;

    &:hover {
      transform: scale(1.1);
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.thumbnail-container {
  display: flex;
  gap: 10px;
  justify-content: center;

  .thumbnail {
    width: 50px;
    height: 50px;
    border: 1px solid $main_color_active;
    cursor: pointer;
    transition: border-color 0.3s ease;
    position: relative;

    &.active {
      border-color: $main_color;
      opacity: 0.7;
    }

    .magnifier-icon {
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      opacity: 0;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }

    &:hover .magnifier-icon {
      opacity: 1;
    }
  }
}

.characteristics {
  .characteristic-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    margin-bottom: 0.5rem;
    gap: 0;

    .characteristic-key {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      padding-right: 0.5rem;
    }

    .characteristic-separator {
      border-bottom: 1px dotted $main_color;
      margin-bottom: 0.3rem;
      width: 100%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .characteristic-value {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      text-align: right;
      padding-left: 0.5rem;
    }
  }
}

.breadcrumb {
    .breadcrumb-item {
        a {
            color: $main_link_color !important;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &.active {
            color: $main_font_color;
        }
    }
}

.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .fullscreen-image {
        max-height: 90vh;
        max-width: 90vw;
        object-fit: contain;
    }

    .fullscreen-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 3rem;
        cursor: pointer;
        padding: 20px;
        transition: all 0.3s ease;

        &:hover {
            color: var(--main-color);
        }

        &.left {
            left: 20px;
        }

        &.right {
            right: 20px;
        }
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            color: var(--main-color);
        }
    }
}

.main-image-container {
  position: relative;

  &:hover .magnifier-icon {
    opacity: 1;
  }

  .magnifier-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: $main_color;
    transition: all 0.3s ease;
    opacity: 0;

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}