@import '../../../app/styles/colors.scss';

.filter-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: $main_font_color !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button:hover {
    background-color: rgba($main_color, 0.05) !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2336406D'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2336406D'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
    background-color: $main_color !important;
    border-color: $main_color !important;
}

.form-check-input:focus {
    border-color: $main_color !important;
    box-shadow: 0 0 0 0.25rem rgba($main_color, 0.25) !important;
}

.rc-slider-track {
    background-color: $main_color !important;
}

.rc-slider-handle {
    border-color: $main_color !important;
}

.rc-slider-handle:active {
    box-shadow: 0 0 5px $main_color !important;
}

.rc-slider-handle:hover {
    border-color: $main_color_hover !important;
}

.price-input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
} 