$color-white: white;
$color-black: #1D1D1B;
$color-gray: #212529;
$color-lightgray: #d3d3d3;

$colors: (
        white: $color-white,
        black: $color-black,
        gray: $color-gray,
        lightgray: $color-lightgray
);

@each $name, $color in $colors {
  .color-#{$name} {
    color: #{$color} !important;
  }

  .bg-color-#{$name} {
    background-color: #{$color} !important;
  }

  .border-color-#{$name} {
    border-color: #{$color} !important;
  }
}
