@import 'colors';

.product-card {
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
}

.img-centered {
  display: inline-block;
  max-width: 95%;
  height: auto;
}

.type-item {
  cursor: pointer;
  border: 1px solid $color-lightgray;
  color: $color-black;
  background-color: $color-white;

  &.active-item {
    background-color: $color-lightgray;
    border-color: $color-lightgray;
    color: $color-black;
  }
}

.hover-item {
  transition: background-color 0.2s ease-out;

  &--white {
    &:hover {
      background-color: $color-white !important;
      color: $color-gray !important;
    }
  }

  &--black {
    &:hover {
      background-color: $color-black !important;
      color: $color-white !important;
    }
  }

  &--gray {
    &:hover {
      background-color: $color-gray !important;
      color: $color-white !important;
    }
  }

  &--lightgray {
    &:hover {
      background-color: $color-lightgray !important;
      color: $color-gray !important;
    }
  }
}

.border-radius-0 {
  border-radius: 0 !important;
}