@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'colors';

$font-family-roboto: 'Roboto', sans-serif;

$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 22px;
$font-size-xl: 36px;

@mixin roboto-font($size) {
  font-family: $font-family-roboto;
  font-size: $size;
  line-height: 1.5;
  font-weight: 400;
  color: $color-black;
}

.xs-text {
  @include roboto-font($font-size-xs);
  color: $color-gray !important;
  text-wrap: pretty !important;
}

.s-text {
  @include roboto-font($font-size-s);
  text-wrap: pretty !important;
}

.m-text {
  @include roboto-font($font-size-m);
  text-wrap: nowrap !important;
}

.l-text {
  @include roboto-font($font-size-l);
  text-wrap: nowrap !important;
}

.xl-text {
  @include roboto-font($font-size-xl);
  text-wrap: nowrap !important;
}
