@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'colors';

$font-family: "Montserrat", sans-serif;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;

@mixin font($size) {
  font-family: $font-family;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: $size;
  line-height: 1.5;
  color: $color-gray;
  text-overflow: ellipsis;
}

.xs-text {
  @include font($font-size-xs);
}

.s-text {
  @include font($font-size-s);
}

.m-text {
  @include font($font-size-m);
}

.l-text {
  @include font($font-size-l);
}

.xl-text {
  @include font($font-size-xl);
}
