@import '../../../app/styles/colors.scss';

.checkout-page {
    background-color: #f9f9f9;
    min-height: calc(100vh - 120px);
    
    h1 {
        color: $main_color;
        font-size: 2rem;
        font-weight: 600;
    }
    
    .breadcrumb {
        background-color: transparent;
        
        .breadcrumb-item a {
            color: $main_color;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
} 